.App {
  text-align: center;
}
header{
  display: flex;
    background-color: lightgray;
}
.items{
  display: flex;
  justify-content: space-around;
  flex-flow:row wrap;  
  margin-top:2rem;
}
.blog-item{
  height: 10rem;
  width: 20rem;
  margin-top: 4rem;
  margin-left: 15px;
  background-color: lightgray;
  border-radius: 5%;
  align-items: center;
  display: flex;
}
.blog-item h2{
  margin-left: 7rem;
}
.blog-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4rem;
  left: 35rem;
}
.blog-heading h2{
  margin-top: 3rem;
}

.create-blog button{
  position: fixed;
  margin-left: 35rem;
  height: 5rem;
  border: 1px solid lightgray;
  border-radius: 10%;
}
nav{
  display: flex;
  flex-direction: column;
  width: 3rem;
  margin-top: 30px;
  margin-left: 12px;
}
nav button{
  width: 4rem;
  height: 5rem;
  margin-top: 1rem;
  border: 1px solid lightgray;
  border-radius: 10%;
}
.editor{
  position: absolute;
  top: 7rem;
  left: 19rem;
  background-color: lightgray;
  width: 37rem;
}
.editingtools{
  background-color: lightgray;
  height: 2rem;
  width: 35rem;
}
textarea{
  width: 35rem;
  height: 10rem;
  margin-top: 2rem;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 2%;
}
input{
  width: 35rem;
  height: 2rem;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 2%;
}
aside{
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
}